/* Column
-------------------------------------------------------------------------------------------- */

.column-1 {
    float: left;
    margin-right: 24px;
    width: calc((100vw - 120px - 24px * 11) / 12);
}

.column-2 {
    float: left;
    margin-right: 24px;
    width: calc(((100vw - 120px - 24px * 11) / 12) * 2 + 24px);
}

.column-3 {
    float: left;
    margin-right: 24px;
    width: calc(((100vw - 120px - 24px * 11) / 12) * 3 + 24px * 2);
}

.column-4 {
    float: left;
    margin-right: 24px;
    width: calc(((100vw - 120px - 24px * 11) / 12) * 4 + 24px * 3);
}

.column-5 {
    float: left;
    margin-right: 24px;
    width: calc(((100vw - 120px - 24px * 11) / 12) * 5 + 24px * 4);
}

.column-6 {
    float: left;
    margin-right: 24px;
    width: calc(((100vw - 120px - 24px * 11) / 12) * 6 + 24px * 5);
}

.column-7 {
    float: left;
    margin-right: 24px;
    width: calc(((100vw - 120px - 24px * 11) / 12) * 7 + 24px * 6);
}

.column-8 {
    float: left;
    margin-right: 24px;
    width: calc(((100vw - 120px - 24px * 11) / 12) * 8 + 24px * 7);
}

.column-9 {
    float: left;
    margin-right: 24px;
    width: calc(((100vw - 120px - 24px * 11) / 12) * 9 + 24px * 8);
}

.column-10 {
    float: left;
    margin-right: 24px;
    width: calc(((100vw - 120px - 24px * 11) / 12) * 10 + 24px * 9);
}

.column-11 {
    float: left;
    margin-right: 24px;
    width: calc(((100vw - 120px - 24px * 11) / 12) * 11 + 24px * 10);
}

.column-12 {
    float: left;
    margin-right: 24px;
    width: calc(((100vw - 120px - 24px * 11) / 12) * 12 + 24px * 11);
}

/* Mobile Column
-------------------------------------------------------------------------------------------- */

.mobile-column-1 {
    float: left;
    margin-right: 16px;
    width: calc(((100vw - 32px - 16px * 3) / 4) * 1 + 16px * 0);
}

.mobile-column-2 {
    float: left;
    margin-right: 16px;
    width: calc(((100vw - 32px - 16px * 3) / 4) * 2 + 16px * 1);
}

.mobile-column-3 {
    float: left;
    margin-right: 16px;
    width: calc(((100vw - 32px - 16px * 3) / 4) * 3 + 16px * 2);
}

.mobile-column-4 {
    float: left;
    margin-right: 16px;
    width: calc(((100vw - 32px - 16px * 3) / 4) * 4 + 16px * 3);
}

.outer-column {
    margin-right: 0px;
}

/* Width
-------------------------------------------------------------------------------------------- */

.width-1 {
    width: calc(((100vw - 120px - 24px * 11) / 12) * 1 + 24px * 0);
}

.width-2 {
    width: calc(((100vw - 120px - 24px * 11) / 12) * 2 + 24px * 1);
}

.width-3 {
    width: calc(((100vw - 120px - 24px * 11) / 12) * 3 + 24px * 2);
}

.width-4 {
    width: calc(((100vw - 120px - 24px * 11) / 12) * 4 + 24px * 3);
}

.width-5 {
    width: calc(((100vw - 120px - 24px * 11) / 12) * 5 + 24px * 4);
}

.width-6 {
    width: calc(((100vw - 120px - 24px * 11) / 12) * 6 + 24px * 5);
}

.width-7 {
    width: calc(((100vw - 120px - 24px * 11) / 12) * 7 + 24px * 6);
}

.width-8 {
    width: calc(((100vw - 120px - 24px * 11) / 12) * 8 + 24px * 7);
}

.width-9 {
    width: calc(((100vw - 120px - 24px * 11) / 12) * 9 + 24px * 8);
}

.width-10 {
    width: calc(((100vw - 120px - 24px * 11) / 12) * 10 + 24px * 9);
}

.width-11 {
    width: calc(((100vw - 120px - 24px * 11) / 12) * 11 + 24px * 10);
}

.width-12 {
    width: calc(((100vw - 120px - 24px * 11) / 12) * 12 + 24px * 11);
}

/* Mobile Width
-------------------------------------------------------------------------------------------- */

.mobile-width-1 {
    width: calc(((100vw - 32px - 16px * 3) / 4) * 1 + 16px * 0);
}

.mobile-width-2 {
    width: calc(((100vw - 32px - 16px * 3) / 4) * 2 + 16px * 1);
}

.mobile-width-3 {
    width: calc(((100vw - 32px - 16px * 3) / 4) * 3 + 16px * 2);
}

.mobile-width-4 {
    width: calc(((100vw - 32px - 16px * 3) / 4) * 4 + 16px * 3);
}

/* Fonts
-------------------------------------------------------------------------------------------- */

@font-face {
    font-family: PP Pangram Sans Rounded Regular;
    src: url(../fonts/pppangramsansrounded-medium-webfont.woff);
}

@font-face {
    font-family: PP Pangram Sans Rounded Regular;
    src: url(../fonts/pppangramsansrounded-medium-webfont.woff2);
}

@font-face {
    font-family: PP Pangram Sans Rounded Bold;
    src: url(../fonts/pppangramsansrounded-bold-webfont.woff);
}

@font-face {
    font-family: PP Pangram Sans Rounded Bold;
    src: url(../fonts/pppangramsansrounded-bold-webfont.woff2);
}

@font-face {
    font-family: PP Pangram Sans Rounded Compressed;
    src: url(../fonts/pppangramsansrounded-compressedextrabold-webfont.woff);
}

@font-face {
    font-family: PP Pangram Sans Rounded Compressed;
    src: url(../fonts/pppangramsansrounded-compressedextrabold-webfont.woff2);
}

@font-face {
    font-family: Finesse;
    src: url(../fonts/Republish/Finesse-Oblique.woff);
}

@font-face {
    font-family: Finesse;
    src: url(../fonts/Republish/Finesse-Oblique.woff2);
}

@font-face {
    font-family: Danh Da;
    src: url(../fonts/Republish/DanhDa-Bold.woff);
}

@font-face {
    font-family: Danh Da;
    src: url(../fonts/Republish/DanhDa-Bold.woff2);
}

@font-face {
    font-family: Barber;
    src: url(../fonts/Republish/Barber-Complete.woff);
}

@font-face {
    font-family: Barber;
    src: url(../fonts/Republish/Barber-Complete.woff2);
}

@font-face {
    font-family: Patriot;
    src: url(../fonts/Republish/Patriot-Bold.woff);
}

@font-face {
    font-family: Patriot;
    src: url(../fonts/Republish/Patriot-Bold.woff2);
}

@font-face {
    font-family: Westgate;
    src: url(../fonts/Republish/Westgate-Bold.woff);
}

@font-face {
    font-family: Westgate;
    src: url(../fonts/Republish/Westgate-Bold.woff2);
}

/* Styles
-------------------------------------------------------------------------------------------- */

h1 {
    font-family: PP Pangram Sans Rounded Compressed;
    font-size: 96px;
    line-height: 100px;
    text-transform: uppercase;
    margin: 0px;
    font-weight: normal;
}

h2 {
    font-family: PP Pangram Sans Rounded Compressed;
    font-size: 60px;
    line-height: 60px;
    text-transform: uppercase;
    margin: 0px;
    font-weight: normal;
}

h3 {
    font-family: PP Pangram Sans Rounded Compressed;
    font-size: 24px;
    line-height: 30px;
    text-transform: uppercase;
    margin: 0px;
    font-weight: normal;
}

p {
    font-family: PP Pangram Sans Rounded Regular;
    font-size: 16px;
    line-height: 20px;
    margin: 0px;
}

.bold {
    font-family: PP Pangram Sans Rounded Bold;
}

.small-text {
    font-family: PP Pangram Sans Rounded Bold;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 0.1em;
}

.reduce {
    opacity: 30%;
}

/* Hover
-------------------------------------------------------------------------------------------- */

a {
    color: black;
    text-decoration: none;
    animation-name: blur-out;
    animation-duration: 1s;
}

a:hover {
    animation-name: blur-in;
    animation-duration: 1s;
    filter: blur(2px);
}

.glow-yellow:hover {
    background-image: linear-gradient(to bottom, rgba(255, 231, 0, 0), rgba(255, 231, 0, 1), rgba(255, 231, 0, 1), rgba(255, 231, 0, 0)); 
}

.glow-yellow:active {
    background-image: linear-gradient(to bottom, rgba(255, 231, 0, 0), rgba(255, 231, 0, 1), rgba(255, 231, 0, 1), rgba(255, 231, 0, 0)); 
}

.glow-pink:hover {
    background-image: linear-gradient(to bottom, rgba(255,73,176, 0), rgba(255,73,176, 0.5), rgba(255,73,176, 0.5), rgba(255,73,176, 0)); 
}

.glow-pink:active {
    background-image: linear-gradient(to bottom, rgba(255,73,176, 0), rgba(255,73,176, 0.5), rgba(255,73,176, 0.5), rgba(255,73,176, 0)); 
}

.glow-red:hover {
    background-image: linear-gradient(to bottom, rgba(247,40,94, 0), rgba(247,40,94, 0.8), rgba(247,40,94, 0.8), rgba(247,40,94, 0)); 
}

.glow-red:active {
    background-image: linear-gradient(to bottom, rgba(247,40,94, 0), rgba(247,40,94, 0.8), rgba(247,40,94, 0.8), rgba(247,40,94, 0)); 
}

.glow-green:hover {
    background-image: linear-gradient(to bottom, rgba(100,177,69, 0), rgba(100,177,69, 1), rgba(100,177,69, 1), rgba(100,177,69, 0)); 
}

.glow-green:active {
    background-image: linear-gradient(to bottom, rgba(100,177,69, 0), rgba(100,177,69, 1), rgba(100,177,69, 1), rgba(100,177,69, 0)); 
}

.glow-blue:hover {
    background-image: linear-gradient(to bottom, rgba(46,85,165, 0), rgba(46,85,165, 0.7), rgba(46,85,165, 0.7), rgba(46,85,165, 0)); 
}

.glow-blue:active {
    background-image: linear-gradient(to bottom, rgba(46,85,165, 0), rgba(46,85,165, 0.7), rgba(46,85,165, 0.7), rgba(46,85,165, 0)); 
}

.change-yellow {
    animation: change-yellow-out;
    animation-duration: 1s;
}

.change-yellow:hover {
    color: rgba(255,231,0);
    animation: change-yellow-in;
    animation-duration: 1s;
}

.change-pink {
    animation: change-pink-out;
    animation-duration: 1s;
}

.change-pink:hover {
    color: rgba(255,73,176);
    animation: change-pink-in;
    animation-duration: 1s;
}

.change-red {
    animation: change-red-out;
    animation-duration: 1s;
}

.change-red:hover {
    color: rgba(247,40,94);
    animation: change-red-in;
    animation-duration: 1s;
}

.change-green {
    animation: change-green-out;
    animation-duration: 1s;
}

.change-green:hover {
    color: rgba(100,177,69);
    animation: change-green-in;
    animation-duration: 1s;
}

.change-blue {
    animation: change-blue-out;
    animation-duration: 1s;
}

.change-blue:hover {
    color: rgba(46,85,165);
    animation: change-blue-in;
    animation-duration: 1s;
}

/* Colors
-------------------------------------------------------------------------------------------- */

/* Pink: rgba(255,73,176)
Green: rgba(100,177,69)
Red: rgba(247,40,94)
Blue: rgba(46,85,165)
Yellow: rgba(255,231,0) */

.bg-yellow {
    background-color: rgba(255,231,0);
}

.bg-pink {
    background-color: rgba(255,73,176);
}

.bg-red {
    background-color: rgba(247,40,94);
}

.bg-green {
    background-color: rgba(100,177,69);
}

.bg-blue {
    background-color: rgba(46,85,165);
}

.bg-gra-pink {
    background-image: linear-gradient(to bottom, rgba(255, 73, 176, 1), rgba(255, 73, 176, 0));
}

.bg-gra-pink-invert {
    background-image: linear-gradient(to top, rgba(255, 73, 176, 1), rgba(255, 73, 176, 0));
}

.bg-gra-green {
    background-image: linear-gradient(to bottom, rgba(100, 177, 69, 1), rgba(100, 177, 69, 0));
}

.bg-gra-green-invert {
    background-image: linear-gradient(to top, rgba(100, 177, 69, 1), rgba(100, 177, 69, 0));
}

.bg-gra-yellow {
    background-image: linear-gradient(to bottom, rgba(255,231,0, 1), rgba(255,231,0, 0));
}

.bg-gra-yellow-invert {
    background-image: linear-gradient(to top, rgba(255,231,0, 1), rgba(255,231,0, 0));
}

.bg-gra-red {
    background-image: linear-gradient(to bottom, rgba(247,40,94, 1), rgba(247,40,94, 0));
}

.bg-gra-red-invert {
    background-image: linear-gradient(to top, rgba(247,40,94, 1), rgba(247,40,94, 0));
}

.bg-gra-blue {
    background-image: linear-gradient(to bottom, rgba(46,85,165, 1), rgba(46,85,165, 0));
}

.bg-gra-blue-invert {
    background-image: linear-gradient(to top, rgba(46,85,165, 1), rgba(46,85,165, 0));
}

/* Animations
-------------------------------------------------------------------------------------------- */

@keyframes blur-out {
    0%   {filter: blur(2px);}
    100% {filter: blur(0px);}
  }

@keyframes blur-in {
    0%   {filter: blur(0px);}
    100% {filter: blur(2px);}
  }

@keyframes change-yellow-out {
    0%   {color: rgba(255,231,0);}
    100% {color: black;}
  }

@keyframes change-yellow-in {
    0%   {color: black;}
    100% {color: rgba(255,231,0);}
  }

@keyframes change-pink-out {
    0%   {color: rgba(255,73,176);}
    100% {color: black;}
  }

@keyframes change-pink-in {
    0%   {color: black;}
    100% {color: rgba(255,73,176);}
  }

@keyframes change-red-out {
    0%   {color: rgba(247,40,94);}
    100% {color: black;}
  }

@keyframes change-red-in {
    0%   {color: black;}
    100% {color: rgba(247,40,94);}
  }

@keyframes change-green-out {
    0%   {color: rgba(100,177,69);}
    100% {color: black;}
  }

@keyframes change-green-in {
    0%   {color: black;}
    100% {color: rgba(100,177,69);}
  }

@keyframes change-blue-out {
    0%   {color: rgba(46,85,165);}
    100% {color: black;}
  }

@keyframes change-blue-in {
    0%   {color: black;}
    100% {color: rgba(46,85,165);}
  }

/* Selection
-------------------------------------------------------------------------------------------- */

::selection {
    color: rgba(255,231,0);
    color: var(--select-color);
  }


/* General
-------------------------------------------------------------------------------------------- */

body {
    background-color: #F9F7F6;
    margin: 0px;
    overflow-x: hidden;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

body::-webkit-scrollbar {
    display: none;
}

.container {
    margin-left: 60px;
    margin-right: 60px;
}

.mobile {
    display: none;
}

/* Nav Bar
-------------------------------------------------------------------------------------------- */

nav {
    width: 100vw;
    height: 120px;
    position: fixed;
    z-index: 99;
    overflow: hidden;
}

nav h3 {
    margin-top: 10px;
}

nav .container {
    margin-top: 30px;
}

nav .logo {
    height: 70px;
}

/* Footer
-------------------------------------------------------------------------------------------- */

footer {
    height: auto;
    overflow: hidden;
    width: 100vw;
}

footer .container {
    height: auto;
    margin-bottom: 30px;
    margin-top: 270px;
    overflow: hidden;
}

footer h3 {
    margin-top: 30px;
}

footer p {
    margin-top: 10px;
}

.copyright {
    float: left;
    margin-top: 20px;
}

/* Responsive — Tablet
-------------------------------------------------------------------------------------------- */

@media only screen and (max-width: 1200px) {
    .desktop-footer .column-2 {
        border-bottom: 2px solid black;
        padding-bottom: 10px;
        width: calc(((100vw - 120px - 24px * 11) / 12) * 6 + 24px * 5);
    }

    .desktop-footer .outer-column {
        border: none;
    }

    .copyright {
        margin-top: 60px;
    }
}

/* Responsive — Phone
-------------------------------------------------------------------------------------------- */

@media only screen and (max-width: 700px) {

/* General
-------------------------------------------------------------------------------------------- */

    body {
        overflow-x: hidden;
    }

    .container {
        margin-left: 16px;
        margin-right: 16px;
    }

    .desktop {
        display: none;
    }

    .mobile {
        display: block;
    }

    /* Styles
-------------------------------------------------------------------------------------------- */

    h1 {
        font-family: PP Pangram Sans Rounded Compressed;
        font-size: 72px;
        line-height: 80px;
        text-transform: uppercase;
        margin: 0px;
        font-weight: normal;
    }

    h2 {
        font-family: PP Pangram Sans Rounded Compressed;
        font-size: 48px;
        line-height: 60px;
        text-transform: uppercase;
        margin: 0px;
        font-weight: normal;
    }

    h3 {
        font-family: PP Pangram Sans Rounded Compressed;
        font-size: 20px;
        line-height: 30px;
        text-transform: uppercase;
        margin: 0px;
        font-weight: normal;
    }

    p {
        font-family: PP Pangram Sans Rounded Regular;
        font-size: 16px;
        line-height: 20px;
        margin: 0px;
    }

    .bold {
        font-family: PP Pangram Sans Rounded Bold;
    }

    .small-text {
        font-family: PP Pangram Sans Rounded Bold;
        text-transform: uppercase;
        font-size: 12px;
        letter-spacing: 0.1em;
    }

    .reduce {
        opacity: 30%;
    }

/* Nav Bar
-------------------------------------------------------------------------------------------- */

    .desktop-nav {
        display: none;
    }

    .mobile-nav {
        display: block;
        height: 240px;
        left: 0px;
        position: fixed;
        top: 0px;
        transition: 0.2s;
    }

    .mobile-nav-logo {
        align-items: center;
        /* background-color: red; */
        display: flex;
        justify-content: center;
        margin-top: 30px;
        width: 100vw;
    }

    .mobile-logo {
        height: 110px;
        opacity: 1;
        transition: 0.2s;
    }

    .mobile-nav-buttons {
        align-items: center;
        display: flex;
        justify-content: center;
        flex-direction: row;
        /* background-color: blue; */
    }

    .mobile-button {
        margin-right: 36px;
    }

    .mobile-outer-button {
        margin-right: 0px;
    }

    .nav--hidden {
        height: 100px;
    }

    .mobile-nav-component {
        transition: 0.2s;
    }

    .nav--hidden .mobile-nav-component {
        transform: translateY(-140px);
    }

    .nav--hidden .mobile-logo {
        opacity: 0;
    }

/* Footer
-------------------------------------------------------------------------------------------- */

    .desktop-footer {
        display: none;
    }

    footer h3 {
        margin-top: 20px;
    }

    footer p {
        margin-top: 0px;
    }

    .mobile-footer {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .big-text {
        font-size: 160px;
        line-height: 130px;
        text-orientation: mixed;
        writing-mode: vertical-rl;
    }

    .mobile-info {
        border-bottom: 2px solid black;
        padding-bottom: 10px;
    }

    .mobile-first-info h3 {
        margin-top: 60px;
    }

    .mobile-outer-info {
        border-bottom: none;
    }

    .mobile-copyright {
        margin-bottom: 60px;
        margin-top: 20px;
    }

    .column-1 {
        margin-right: 16px;
    }

    .column-2 {
        margin-right: 16px;
    }

    .column-3 {
        margin-right: 16px;
    }

    .column-4 {
        margin-right: 16px;
    }

    .column-5 {
        margin-right: 16px;
    }

    .column-6 {
        margin-right: 16px;
    }

    .column-7 {
        margin-right: 16px;
    }

    .column-8 {
        margin-right: 16px;
    }

    .column-9 {
        margin-right: 16px;
    }

    .column-10 {
        margin-right: 16px;
    }

    .column-11 {
        margin-right: 16px;
    }

    .column-12 {
        margin-right: 16px;
    }

    .outer-column-mobile {
        margin-right: 0px;
    }

}